.App{
  margin-top: 2rem;
  text-align: center;
}

.success{
  padding: 1rem;
  color: green;
}

.failure{
  padding: 1rem;
  color: red;
}

.button{
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: rgb(12,102,228);
}

.image{
  border-radius: 10px;
  
}